################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VechcileTracking
/VechcileTracking/obj
/VechcileTracking/bin/Debug/netstandard2.0
/VechcileTracking.iOS/obj
/VechcileTracking.Android
/VechcileTracking/bin/Release/netstandard2.0
/VechcileTracking.iOS/bin/iPhoneSimulator/Release
